/*
!.gitignore
!README.md
!reproduce_results.sh

!/data/
/data/*
!/data/fakekv_data
!/data/*.py
!/params*
!/configs*

!/utils.py
!/plots.py
!/diffusion_maps.py
!/factorization_graph.py
!/max_cut/
!/reproduce_figures.py
!/generate_data.py
!/expirement.py
!/algorithm.py
!/figures.py

**/__pycache__